services:
  db:
    image: postgres:18-bookworm
    container_name: sonic-db
    restart: always
    environment:
      POSTGRES_USER: sonic
      POSTGRES_PASSWORD: change_me
      POSTGRES_DB: sonic_db
    ports:
      - '5432:5432'
    volumes:
      - sonic-atlas-db:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U sonic -d sonic_db']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - sonic-atlas-network

volumes:
  sonic-atlas-db:
    name: sonic-atlas-db

networks:
  sonic-atlas-network:
    name: sonic-atlas-network