services:
  db:
    image: postgres:18-bookworm
    container_name: sonic-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - sonic-atlas-db:/var/lib/postgresql/data
    networks:
      - sonic-atlas-network

volumes:
  sonic-atlas-db:
    name: sonic-atlas-db

networks:
  sonic-atlas-network:
    name: sonic-atlas-network