:root {
  --background: #121212;
  --primary-color: #1db954;
  --primary-surface-color: #141914;
  --secondary-color: #b954db;
  --text-primary-color: #ffffff;
  --text-secondary-color: #b3b3b3;
  --surface-color: #141414;
}

body {
  background: var(--background);
  color: var(--text-primary-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
